{#include file="Public/header" /#}
{#include file="Public/top" /#}

<div id="main">
    <div class="container-fluid">
        <div class="row">
            {#include file="Public/left" /#}
            <div class="right-content">
                <h3>
                    <span class="current">{#$pageName#}</span>
                </h3>
                <br>
                <div class="row tagtopdiv">
                    <div class="col-md-3 col-xs-6 ">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">当日</span>
                                    <h5>收入</h5>
                                </div>
                                <h4 class="pull-left text-danger">
                                    ￥{#$tj.today#} 元
                                </h4>
                                <h4 class="pull-right">
                                    当日收入
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 ">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">当日</span>
                                    <h5>支出</h5>
                                </div>
                                <h4 class="pull-left text-danger">
                                    ￥{#$tj.paytoday#} 元
                                </h4>
                                <h4 class="pull-right">
                                    当日支出
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 ">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">全部</span>
                                    <h5>收入</h5>
                                </div>
                                <h4 class="pull-left text-danger">
                                    ￥{#$tj.all#} 元
                                </h4>
                                <h4 class="pull-right">
                                    总收入
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 ">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">全部</span>
                                    <h5>支出</h5>
                                </div>
                                <h4 class="pull-left text-danger">
                                    ￥{#$tj.payall#} 元
                                </h4>
                                <h4 class="pull-right">
                                    总支出
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="J_Date" class="layui-form layui-form-pane form-inline" action="" method="get">
                            <div class="form-group">
                                <input class="form-control" name="userid" placeholder="商户id" value="{#$Think.request.userid#}" size="12" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="ordernum" placeholder="订单号"  value="{#$Think.request.ordernum#}" size="12" type="text">
                            </div>
                            <div class="form-group">
                                <select name="jkstyle" class="layui-btn-small ajax-action form-control"  >
                                    <option value="">所有类型</option>
                                    {#volist name="jiekou" id="n" #}
                                    <option value="{#$n.jkstyle#}" {#if condition="$Think.request.jkstyle eq $n.jkstyle"#}selected="selected"{#/if#}>{#$n.jkname#}</option>
                                    {#/volist#}
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="status" class="layui-btn-small ajax-action form-control"  >
                                    <option value="0" {#if condition="$Think.request.status eq '0'"#}selected="selected"{#/if#}>未支付订单</option>
                                    <option value="1" {#if condition="$Think.request.status eq '1'"#}selected="selected"{#/if#}>成功订单</option>
                                    <option value="2" {#if condition="$Think.request.status eq '2'"#}selected="selected"{#/if#}>扣量订单</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control startTime" name="start" placeholder="开始时间" value="{#$Think.request.start#}" size="12" type="text">
                                -
                                <input class="form-control endTime" name="end" placeholder="结束时间" value="{#$Think.request.end#}" size="12" type="text">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search">
                                </span>
                                &nbsp;立即查询
                            </button>
                        </form>
                    </div>
                </div>

                <form action="" method="post"  class="ajax-form">
                    <div class="set set0 table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td colspan="18">
                                        <button class="btn btn-primary anniu delbtn" type="button" data-url="{#:U('Dingdan/delete')#}"><span class="glyphicon glyphicon-remove"></span>&nbsp;删除</button>
                                        <button class="btn btn-primary anniu flushbtn" type="button" data-url="#"><span class="glyphicon glyphicon-refresh"></span>&nbsp;刷新</button>
                                        <button class="btn btn-primary anniu delallbtn" type="button" data-url="{#:U('Dingdan/delete',array('clear'=>1))#}"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;清除未支付订单（三天以上）</button>
                                        <button class="btn btn-primary anniu addbtn" type="button" data-url="{#:U('Dingdan/editall')#}"><span class="glyphicon glyphicon-edit"></span>&nbsp;批量补单</button>
                                        <br/>*仅能删除未支付订单
                                    </td>
                                </tr>
                                <tr class="info">
                                    <th style="width: 15px;"><input type="checkbox" name="mmAll" class="selectAllCheckbox"/></th>
                                    <th align="center" >ID</th>
                                    <th align="center">商户id</th>
                                    <th align="center">订单号</th>
                                    <th align="center">平台订单号</th>
                                    <th align="center">订单类型</th>
                                    <th align="center">实收金额</th>
                                    <th align="center">支出金额</th>
                                    <th align="center">代理金额</th>
                                    <th align="center">上游扣费</th>
                                    <th align="center">状态</th>
                                    <th align="center">添加时间</th>
                                    <th align="center">支付时间</th>
                                    <th align="center">通道</th>
                                    <th align="center">通知</th>
                                </tr>
                            </thead>
                            <tbody>
                                {#if condition="$list"#}
                                {#volist name="list" id="n" #}
                                <tr id="tr{#$n.ddid#}" >
                                    <td align="center"><input type="checkbox" class="thisid checkbox" title="{#$n.ddid#}" name="thisid[]" value="{#$n.ddid#}"/></td>
                                    <td align="center">{#$n.ddid#}</td>
                                    <td align="center">{#$n.userid#}</td>
                                    <td align="center"><a href="{#:U('Dingdan/edit',array('id'=>$n['ddid'],'p'=>$_GET['p']))#}">{#$n.ordernum#}</a></td>
                                    <td align="center">{#$n.preordernum#}</td>
                                    <td align="center">{#$n.ddstylename#}</td>
                                    <td align="center">{#$n.totalmoney#}</td>
                                    <td align="center">{#$n.havemoney#}</td>
                                    <td align="center">{#$n.dailimoney#}</td>
                                    <td align="center">{#$n.syflmoney#}</td>
                                    <td align="center">{#$n.statusname#}</td>
                                    <td align="center">{#$n.addtime#}</td>
                                    <td align="center">{#$n.paytime#}</td>
                                    <td align="center">{#$n.jkstyle#}({#$pzBuffer[$n['pzid']]['pzname']#})</td>
                                    <td align="center">{#$n.tzzt#}
                                        {#if condition="$n.tz lt 2"#}<a href="{#:U('Dingdan/edit',array('id'=>$n['ddid'],'p'=>$_GET['p']))#}" class="layui-btn layui-btn-normal layui-btn-mini btn btn-primary"><span class="glyphicon glyphicon-repeat"></span>&nbsp;重发</a>{#/if#}
                                        {#if condition="$n.status eq '0'"#}<a href="{#:U('Dingdan/edit',array('id'=>$n['ddid'],'e'=>1,'p'=>$_GET['p']))#}" class="layui-btn layui-btn-normal layui-btn-mini btn btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp;手动补单</a>{#/if#}
                                        {#if condition="$n.status eq '1' or $n.status eq '2'"#}<a href="{#:U('Dingdan/edit',array('id'=>$n['ddid'],'e'=>2,'p'=>$_GET['p']))#}" class="layui-btn layui-btn-normal layui-btn-mini btn btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp;手动退单</a>{#/if#}
                                    </td>
                                </tr>
                                {#/volist#}
                                {#else/#}
                                <tr>
                                    <td colspan="18" align="center">暂无数据</td>
                                </tr>
                                {#/if#}
                            </tbody>
                        </table>
                        <div id="wypage">{#$page#}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{#include file="Public/footer" /#}