{#include file="Public/header" /#}
{#include file="Public/top" /#}
<div id="main">
    <div class="container-fluid">
        <div class="row">
            {#include file="Public/left" /#}
            <div class="right-content">
                <h3>
                    <span class="current">{#$pageName#}</span>
                </h3>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="J_Date" class="layui-form layui-form-pane form-inline" action="" method="get">
                            <div class="form-group">
                                <input class="form-control" name="userid" placeholder="商户id" value="{#$Think.request.userid#}" size="12" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control startTime" name="start" placeholder="开始时间" value="{#$Think.request.start#}" size="12" type="text">
                                -
                                <input class="form-control endTime" name="end" placeholder="结束时间" value="{#$Think.request.end#}" size="12" type="text">
                            </div>
                            <div class="form-group">
                                <select name="style" class="layui-btn-small ajax-action form-control"  >
                                    <option value="">所有状态</option>
                                    {#volist name="style" id="n" #}
                                    <option value="{#$key#}" {#if condition="$Think.request.style eq $key"#}selected="selected"{#/if#}>{#$n#}</option>
                                    {#/volist#}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search">
                                </span>
                                &nbsp;立即查询
                            </button>
                        </form>
                    </div>
                </div>
                <form action="" method="post"  class="ajax-form">
                    <div class="set set0 table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td colspan="10">
                                        <button class="btn btn-primary anniu flushbtn" type="button" data-url="#"><span class="glyphicon glyphicon-refresh"></span>&nbsp;刷新</button>
                                        <button class="btn btn-primary anniu delallbtn" type="button" data-url="{#:U('Pay/moneylogdelete',array('clear'=>1))#}"><span class="glyphicon glyphicon-remove"></span>&nbsp;清除（一个月以上）</button>
                                    </td>
                                </tr>
                                <tr class="info">
                                    <th align="center" >ID</th>
                                    <th align="center">商户</th>
                                    <th align="center">类型</th>
                                    <th align="center">变动金额</th>
                                    <th align="center">余额</th>
                                    <th align="center">内容</th>
                                    <th align="center">时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {#if condition="$list"#}
                                {#volist name="list" id="n" #}
                                <tr id="tr{#$n.id#}" >
                                    <td align="center">{#$n.id#}</td>
                                    <td align="center">{#$n.userid#}</td>
                                    <td align="center">{#$n.stylename#}</td>
                                    <td align="center">{#$n.changemoney#}</td>
                                    <td align="center">{#$n.leavemoney#}</td>
                                    <td align="center">{#$n.desc#}</td>
                                    <td align="center">{#$n.addtime|date="Y-m-d H:i:s",####}</td>
                                </tr>
                                {#/volist#}
                                {#else/#}
                                <tr>
                                    <td colspan="10" align="center">暂无数据</td>
                                </tr>
                                {#/if#}
                            </tbody>
                        </table>
                        <div id="wypage">{#$page#}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{#include file="Public/footer" /#}