<!doctype html>
    <html>
        
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=0.7, minimum-scale=0.7, maximum-scale=1.0, user-scalable=no"/>
            <title>{#$pageName#} - {#$siteName#}</title>
            <link href="__PUBLIC__/plugin/bootstrap/bootstrap.css" type="text/css" rel="stylesheet" />
            <script src="__PUBLIC__/plugin/jquery-1.8.0.min.js" type="text/javascript"></script>
            <script src="__PUBLIC__/plugin/jquery.zclip.min.js" type="text/javascript"></script>
            <script language=javascript src="__PUBLIC__/plugin/layer/layer.js"></script>
            <link href="__PUBLIC__/admin/css/app.css?{#$Think.config.FX_UPDATE_FILE_DATE#}" type="text/css" rel="stylesheet" />
            <script language=javascript src="__PUBLIC__/common/js/common.js?{#$Think.config.FX_UPDATE_FILE_DATE#}"></script>
            <script language=javascript src="__PUBLIC__/admin/js/app.js?{#$Think.config.FX_UPDATE_FILE_DATE#}"></script>
            <SCRIPT language=javascript src="__PUBLIC__/plugin/laydate/laydate.js?{#$Think.config.FX_UPDATE_FILE_DATE#}" charset="utf-8"></SCRIPT>
        </head>