<div class="navbar-default navbar-static-side">
    <div class="left-nav " id="side-menu">
        <dl class="hidemenu">
            <dt>
                <span class="glyphicon glyphicon-arrow-left">
                </span>
                &nbsp;隐藏菜单
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-menu-hamburger">
                </span>
                &nbsp;管理菜单
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('Main/index')#}">网站概览</a></dd>
            <dd><a href="{#:U('Admin/pass')#}">修改密码</a></dd>
            <dd><a href="{#:U('Index/loginOut')#}">安全退出</a></dd>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-cog">
                </span>
                &nbsp;系统配置
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('Param/index')#}">参数配置</a></dd>
            <dd><a href="{#:U('Admin/index')#}">管理员管理</a></dd>
            <dd><a href="{#:U('Log/index')#}">系统日志</a></dd>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-link">
                </span>
                &nbsp;接口管理
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('Http/index')#}">接口域名</a></dd>
            <dd><a href="{#:U('Api/index')#}">接口类型(轮询)</a></dd>
            <dd><a href="{#:U('Apistyle/index')#}">上游类型</a></dd>
            <dd><a href="{#:U('Api/user')#}">接口账户</a></dd>
            <dd><a href="{#:U('Api/check')#}">接口检测</a></dd>
            <dd><a href="{#:U('Bank/index')#}">银行管理</a></dd>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-unchecked">
                </span>
                &nbsp;代理设置
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('Agent/add')#}">添加代理等级</a></dd>
            <dd><a href="{#:U('Agent/index')#}">代理等级管理</a></dd>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-th-list">
                </span>
                &nbsp;订单管理
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('Dingdan/index')#}">成功订单列表</a></dd>
            <dd><a href="{#:U('Dingdan/kou')#}">扣量订单列表</a></dd>
            <dd><a href="{#:U('Dingdan/wei')#}">未支付订单列表</a></dd>
            <dd><a href="{#:U('Dingdan/dingdancheck')#}">对账记录</a></dd>
            <dd><a href="{#:U('Dingdan/pay')#}">接口日志</a></dd>
            <dd><a href="{#:U('Dingdan/notify')#}">异步日志(补单)</a></dd>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-usd">
                </span>
                &nbsp;财务管理
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('Pay/index')#}">未支付账单</a></dd>
            <dd><a href="{#:U('Pay/yzf')#}">已支付账单</a></dd>
            <dd><a href="{#:U('Pay/dingdanall')#}">代付订单</a></dd>
            <dd><a href="{#:U('Agent/fandian')#}">代理账单</a></dd>
            <dd><a href="{#:U('pay/moneylog')#}">资金变动</a></dd>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-adjust">
                </span>
                &nbsp;数据统计
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('Tj/index')#}">通道统计</a></dd>
        </dl>
        <dl>
            <dt>
                <span class="glyphicon glyphicon-user">
                </span>
                &nbsp;用户管理
                <span class="glyphicon glyphicon-menu-left arrow"></span>
            </dt>
            <dd><a href="{#:U('User/index')#}">用户列表</a></dd>
            <dd><a href="{#:U('Userhttp/index')#}">域名审核</a></dd>
            <dd><a href="{#:U('Kou/index')#}">扣量列表</a></dd>
            <dd><a href="{#:U('Ka/index')#}">银行卡管理</a></dd>
        </dl>
    </div>
</div>