{#include file="Public/header" /#}
{#include file="Public/top" /#}
<div id="main">
    <div class="container-fluid">
        <div class="row">
            {#include file="Public/left" /#}
                <div class="right-content">
                    <h3>
                        <span class="current">{#$pageName#}</span>
                    </h3>
                    <div class="alert alert-info">
                        <p>用户绑定独立域名<span class="label label-primary">(数字越高优先级越高)</span></p>
                        <p>1、域名管理  设定默认域名 没有默认域名则使用当前网站域名 优先级【1】</p>
                        <p>2、接口类型绑定域名 优先级【2】</p>
                        <p>3、轮询接口的处理 优先级【3】</p>
                        <p>4、单个用户绑定域名 优先级【10】</p>
                        
                        <p>支付接口绑定域名：接口账户绑定域名，适用于上游需要验证域名的网关。</p>
                    </div>
                    <form action="" method="post"  class="ajax-form">
                        <div class="set set0 table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="10">
                                            <button class="btn btn-primary anniu delbtn" type="button" data-url="{#:U('Http/delete')#}"><span class="glyphicon glyphicon-remove"></span>&nbsp;删除</button>
                                            <button class="btn btn-primary anniu addbtn" type="button" data-url="{#:U('Http/add')#}"><span class="glyphicon glyphicon-edit"></span>&nbsp;添加</button>
                                            <button class="btn btn-primary anniu flushbtn" type="button" data-url="#"><span class="glyphicon glyphicon-refresh"></span>&nbsp;刷新</button>
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <th style="width: 15px;"><input type="checkbox" name="mmAll" class="selectAllCheckbox"/></th>
                                        <th align="center" >名称</th>
                                        <th align="center" >域名</th>
                                        <th align="center">默认域名</th>
                                        <th align="center">隐藏域名</th>
                                        <th align="center">默认隐藏域名</th>
                                        <th align="center">状态</th>
                                        <th align="center">添加时间</th>
                                        <th align="center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {#if condition="$list"#}
                                        {#volist name="list" id="n" #}
                                    <tr id="tr{#$n.id#}" >
                                        <td align="center"><input type="checkbox" class="thisid checkbox" title="{#$n.id#}" name="thisid[]" value="{#$n.id#}"/></td>
                                        <td align="center"><a href="{#:U('Http/edit',array('id'=>$n['id'],'p'=>$_GET['p']))#}">{#$n.httpname#}</a></td>
                                        <td align="center">{#$n.http#}</td>
                                        <td align="center">{#$n.ifdefaultname#}</td>
                                        <td align="center">{#$n.hiddenhttp#}</td>
                                        <td align="center">{#$n.ifdefaulthiddenname#}</td>
                                        <td align="center">{#$n.lockedname#}</td>
                                        <td align="center">{#$n.addtime#}</td>
                                        <td align="center">
                                            <a href="{#:U('Http/edit',array('id'=>$n['id'],'p'=>$_GET['p']))#}" class="layui-btn layui-btn-normal layui-btn-mini btn btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp;编辑</a>
                                            <a href="javascript:;" data-id="{#$n.id#}" data-url="{#:U('Http/delete',array('id'=>$n['id'],'p'=>$_GET['p']))#}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete btn btn-primary"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                        </td>
                                    </tr>
                                        {#/volist#}
                                    {#else/#}
                                    <tr>
                                        <td colspan="10" align="center">暂无数据</td>
                                    </tr>
                                    {#/if#}
                                </tbody>
                            </table>
                            <div id="wypage">{#$page#}</div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
{#include file="Public/footer" /#}