{#include file="Public/header" /#}
{#include file="Public/top" /#}

<div id="main">
    <div class="container-fluid">
        <div class="row">
            {#include file="Public/left" /#}
            <div class="right-content">
                <h3>
                    <span class="current">{#$pageName#}</span>
                </h3>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="J_Date" class="layui-form layui-form-pane form-inline" action="" method="get">
                            <div class="form-group">
                                <input class="form-control" name="userid" placeholder="商户id" value="{#$Think.request.userid#}" size="12" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control startTime" name="start" placeholder="开始时间" value="{#$Think.request.start#}" size="12" type="text">
                                -
                                <input class="form-control endTime" name="end" placeholder="结束时间" value="{#$Think.request.end#}" size="12" type="text">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search">
                                </span>
                                &nbsp;立即查询
                            </button>
                        </form>
                    </div>
                </div>

                <form action="" method="post"  class="ajax-form">
                    <div class="set set0 table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="info">
                                    <th align="center">通道名称</th>
                                    <th align="center">总和交易金额</th>
                                    <th align="center"> 成功交易金额</th>
                                    <th align="center"> 发起笔数</th>
                                    <th align="center"> 成功笔数</th>
                                    <th align="center"> 支付人数</th>
                                    <th align="center"> 转化率</th>
                                    <th align="center"> 扣量金额</th>
                                    <th align="center"> 扣量笔</th>
                                    <th align="center"> 转化率（扣）</th>
                                    <th align="center"> 扣率（按笔）</th>
                                    <th align="center"> 扣率（金额）</th>
                                </tr>
                            </thead>
                            <tbody>
                                {#if condition="$list"#}
                                {#volist name="list" id="n" #}
                                <tr id="tr{#$n.ddid#}" >
                                    <td align="center">{#$n.pzname#}</td>
                                    <td align="center">{#$n.allmoney#}</td>
                                    <td align="center">{#$n.successmoney#}</td>
                                    <td align="center">{#$n.allnum#}</td>
                                    <td align="center">{#$n.successnum#}</td>
                                    <td align="center">{#$n.usernum#}</td>
                                    <td align="center">{#$n.alllv#}</td>
                                    <td align="center">{#$n.koumoney#}</td>
                                    <td align="center">{#$n.kounum#}</td>
                                    <td align="center">{#$n.koulv#}</td>
                                    <td align="center">{#$n.kounumlv#}</td>
                                    <td align="center">{#$n.koumoneylv#}</td>
                                </tr>
                                {#/volist#}
                                {#else/#}
                                <tr>
                                    <td colspan="18" align="center">暂无数据</td>
                                </tr>
                                {#/if#}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{#include file="Public/footer" /#}